@charset "utf-8";

html, body, p, ul, li {
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
}

img {
    vertical-align: top;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    background: url(../images/bg.jpg) no-repeat fixed;
    background-size: 100% auto;
    box-sizing: border-box;
    font-size: .38rem !important;
}

.logo {
    width: 50%;
    margin: 0 auto;
    padding: .5rem;
}

    .logo img {
        width: 100%;
    }

.register {
}

.register-form {
    border-radius: 5px;
    background: rgba(255,255,255,.7);
    width: 93%;
    margin: 0 auto;
}

.form-group {
    position: relative;
    height: 1.2rem;
    border-bottom: 1px solid #ccc;
}

    .form-group:last-child {
        border-bottom: none;
    }

    .form-group .text {
    }

    .form-group .ico {
        display: inline-block;
        width: 1.2rem;
        height: 1.2rem;
    }

    .form-group .ico-user {
        background: url(../images/ico-user.png) no-repeat center center / 60% 60%;
    }

    .form-group .ico-password {
        background: url(../images/ico-password.png) no-repeat center center / 60% 60%;
    }

    .form-group .ico-recommend {
        background: url(../images/ico-recommend.png) no-repeat center center / 60% 60%;
    }

    .form-group .ico-tel {
        background: url(../images/ico-tel.png) no-repeat center center / 60% 60%;
    }

    .form-group .ico-code {
        background: url(../images/ico-code.png) no-repeat center center / 60% 60%;
    }

    .form-group .ico-sex {
        background: url(../images/ico-sex.png) no-repeat center center / 60% 60%;
    }

    .form-group .ico-show {
        position: absolute;
        display: block;
        width: 1.2rem;
        height: 1.2rem;
        background: url(../images/ico-show.png) no-repeat center center / 60% 60%;
        right: 0;
        top: 0;
    }

        .form-group .ico-show.active {
            background: url(../images/ico-show-a.png) no-repeat center center / 60% 60%;
        }

    .form-group input[type=text], .form-group input[type=password] {
        vertical-align: top;
        width: 7rem;
        height: 1.2rem;
        border: none;
        box-sizing: border-box;
        background: none;
    }

    .form-group .check {
        display: inline-block;
        vertical-align: top;
        line-height: 1.2rem;
        padding-right: 1rem;
    }

        .form-group .check input[type=radio] {
            display: none;
        }

        .form-group .check b {
            display: inline-block;
            width: .6rem;
            height: 1.2rem;
            background: url(../images/ico-check.png) no-repeat center center / auto 60%;
            vertical-align: top;
        }

        .form-group .check input[type=radio]:checked + b {
            background: url(../images/ico-check-a.png) no-repeat center center / auto 60%;
        }

.btn-code {
    right: 0;
    top: 0;
    width: 2.5rem;
    height: 1.2rem;
    line-height: 1.2rem;
    position: absolute;
    display: inline-block;
    color: #04c576;
    text-align: center;
}

.btn-block {
    width: 93%;
    padding: 1rem 0;
    margin: 0 auto;
}

    .btn-block input[type=submit], .btn-block input[type=button] {
        width: 100%;
        height: 1.2rem;
        line-height: 1.2rem;
        border: none;
        background: #04c576;
        color: #fff;
        border-radius: 5px;
        font-size: .5rem;
    }

.download {
    width: 93%;
    margin: 0 auto;
    padding-bottom: 20px;
}

    .download h3 {
        text-align: center;
        position: relative;
        color: #fff;
        margin-bottom: 10px;
    }

        .download h3:before, .download h3:after {
            content: '';
            display: block;
            position: absolute;
            width: 3rem;
            height: 1px;
            background: #fff;
            top: .55em;
        }

        .download h3:before {
            left: 0;
        }

        .download h3:after {
            right: 0;
        }

.download-btn {
    zoom: 1;
}

    .download-btn:after {
        clear: both;
        content: '';
        display: block;
    }

.download a {
    display: block;
    width: 50%;
    float: left;
    color: #fff;
    text-align: center;
}

.ico-android, .ico-ios {
    width: .8rem;
    height: .8rem;
    display: block;
    background-size: 100% 100%;
    margin: 0 auto 5px;
}

.ico-android {
    background-image: url(../images/ico-android.png);
}

.ico-ios {
    background-image: url(../images/ico-ios.png);
}

.dl-img img {
    width: 100%;
}

.dl-btn {
    padding: 2rem 1.5rem 1rem;
    background: url(../images/download_04.jpg) no-repeat;
    background-size: 100% auto;
}

    .dl-btn a {
        display: block;
        margin-bottom: 20px;
    }

    .dl-btn img {
        width: 100%;
    }
